* {
  margin: 0px;
  padding: 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "lato", sans-serif;
  font-size: 14px;
}

.bg-purple {
  background: #8b3797;
}
.headerWrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.headerWrapper .top-strip {
  padding: 8px 0px;
}
.headerWrapper .top-strip p {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 25px 0px;
}
.logoWrapper img {
  width: 100%;
}
/*.container{max-width: 90%;}*/

.headerWrapper .header .part2 .countryDrop {
  width: 170px;
  min-width: 170px;
  height: 50px;
  color: #000 !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 7px !important;
  padding: 10px 20px !important;
}
.headerWrapper .header .part2 .countryDrop {
  text-align: left;
  justify-content: flex-start !important;
}

.headerWrapper .header .part2 .countryDrop .label {
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.5) !important;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop .name {
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.6) !important;
  font-weight: 700;
  line-height: 16px;
}
.headerWrapper .header .part2 .countryDrop span.ml-auto svg {
  opacity: 0.7;
}

.headersearch {
  width: 60%;
  height: 50px;
  background: #f3f4f7;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.headersearch input {
  background: transparent !important;
  outline: none !important;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 30px;
  border: 0px !important;
  padding: 0px 20px !important;
}

.headersearch button {
  position: absolute;
  top: 2px;
  right: 15px;
  z-index: 100;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50%;
  color: #000;
}

.headersearch button svg {
  font-size: 25px;
}

header .part3 .circle {
  align-items: center;
  justify-content: center;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: #000;
}

header .part3 .circle svg {
  font-size: 20px;
}

.cartTab .price {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}
.cartTab .count {
  position: absolute;
  top: -5px;
  right: -3px;
  background: #050303;
  border-radius: 50%;
  color: #fff;
  width: 20px;
  height: 20px;
}

/* IMPORTANT GO THROUGH THIS*/

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
} /* its like scroll bar gets vanished.*/
::-webkit-scrollbar-thumb {
  background: #ccc !important;
}
::-webkit-scrollbar-track {
  background: transparent !important;
}

.locationModal .MuiPaper-elevation {
  padding: 25px;
  position: relative;
}

.locationModal .countryList {
  margin-bottom: 0px;
  max-height: 300px;
  overflow-y: scroll;
}

.locationModal .close_ {
  position: absolute;
  color: #000;
  font-size: 20px;
  top: 10px;
  right: 10px;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}

.locationModal .countryList li {
  width: 100%;
  list-style: none;
}
.locationModal .countryList li button {
  width: 100%;
  text-transform: capitalize !important;
  color: #8b3797 !important;
  justify-content: flex-start !important;
  padding: 15px 20px !important;
}



nav .navPart1 .catWrapper {
  position: relative;
}
nav .navPart1 .catWrapper .sidebarNav {
  width: 100%;
  height: 0px;
  background: #e1d7d7;
  position: absolute;
  top: 160%;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 0px;
  opacity: 0;
  transition: all 0.2 ease-in-out;
  visibility: hidden;
  z-index: 100;
}
nav .navPart1 .catWrapper .sidebarNav.open{
height: auto;
opacity: 1;
visibility: inherit;
}

nav .navPart1 .catWrapper .sidebarNav ul li {
  width: 100%;
  list-style: none;

}
nav .navPart1 .catWrapper .sidebarNav ul li button {
  color: #050303;
  width: 100%;
  justify-content: flex-start;
}

nav .navPart1 .catWrapper .sidebarNav ul li button:hover {
  background: transparent !important;
}  
nav .navPart1 .catWrapper .sidebarNav ul li{position: relative;}
nav .navPart1 .catWrapper .sidebarNav ul li .submenu{position: absolute; top: 0px;}



nav .allCatTab {
  background: #8b3797;
  padding: 10px 15px !important;
  border-radius: 30px !important;
}
nav .allCatTab * {
  color: #fff;
}
nav .allCatTab:hover {
  background: #8b3797;
}
nav .allCatTab .text {
  font-weight: 600;
}

nav .allCatTab .icon1 svg {
  font-size: 22px !important;
}
nav .allCatTab .icon2 svg {
  font-size: 20px !important;
}

nav .navPart2 ul {
  margin-bottom: 0px;
}
nav .navPart2 ul li a {
  text-decoration: none;
}

nav .navPart2 ul li a button {
  font-size: 15px !important;
  font-weight: 600;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
}

nav .navPart2 ul li a button:hover {
  background: #8b3797;
  color: #fff;
}
nav .navPart2 ul li a svg {
  font-size: 18px;
}

nav .navPart2 ul li {
  position: relative;
  padding-bottom: 20px;
}
nav .navPart2 ul li .submenu {
  position: absolute;
  top: 150%;
  left: 0px;
  min-width: 200px;
  background: #f3f4f7;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

nav .navPart2 ul li .submenu a {
  display: block;
  width: 100%;
}
nav .navPart2 ul li .submenu a button {
  width: 100%;
  justify-content: flex-start !important;
  border-radius: 0px !important;
  text-transform: capitalize;
  font-weight: 600;
}
nav .navPart2 ul li:hover .submenu {
  opacity: 1;
  visibility: inherit;
  top: 100%;
}
